body {
    background-color: #F0F8FF; 
    font-family: 'Didot', sans-serif; 
}

.ribbon {
    background-color: #72A0C1;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.travel-icon {
    width: 250px;
    height: 200px;
    margin-right: 10px;
    float: left; 
}

.header-title {
    font-family: 'Didot', sans-serif;
    font-size: 5em;
    text-align: center;
    margin-top: 30;
    margin-bottom: 30;

}
.div-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.div-2 {
   
    #map { height: 500px; }
}

.div-3 {
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in the total width */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Panel body styles */
.panel-body {
    flex: 1;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Map and time_plot styles */
#map,
#time_plot {
    flex-basis: calc(50% - 50px);
}

/* Bigplot styles */
#bigplot {
    width: 100%; /* Set width to 100% */
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chart {
    font-family: 'Didot', sans-serif
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    #map,
    #time_plot {
        flex-basis: 100%;
    }
    .div-1,
    .div-2,
    .div-3 {
        flex-direction: column;
    }
}
