.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    text-align: center;
    margin-top: 50px;

}
.div-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#chart {
    width: 100%; 
}

#chart .unidad {
    transform: rotate(-45deg);
    white-space: nowrap;
}


#chart .unidad {
    font-size: 12px;
}


#chart .unidad {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#chart .unidadl:hover {
    overflow: visible;
}


.div-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div-3 {
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in the total width */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Panel body styles */
.panel-body {
    flex: 1;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Map and time_plot styles */
#map,
#time_plot {
    flex-basis: calc(50% - 50px);
}

/* Bigplot styles */
#bigplot {
    width: 100%; /* Set width to 100% */
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chart {
    font-family: 'Roboto', sans-serif
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    #map,
    #time_plot {
        flex-basis: 100%;
    }
    .div-1,
    .div-2,
    .div-3 {
        flex-direction: column;
    }
}
